<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">
    <div style="margin-top: 10rem; display: flex; justify-content: center;">
        <form style="width: 1084px;" th:action="@{/duo/api/create}" method="post">
            <div class="mb-3">
                <label class="form-label" for="name">롤아이디입력</label>
                <input class="form-control" type="text" id="name" name="name">
            </div>
            <div class="mb-3">
                <label class="form-label" for="tag">태그입력</label>
                <input class="form-control" type="text" id="tag" name="tag">
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
        </form>
    </div>
</div>
</html>