<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">
    <div style="margin-top: 10rem;">
        <form th:action="@{/duo/create}" method="post" th:object="${duoArticleForm}">
            <label for="myLine">내라인</label>
            <input type="text" id="myLine" name="myLine">
            <label for="findLine">찾는라인</label>
            <input type="text" id="findLine" name="findLine">
            <label for="microphoneCheck">
                <input type="checkbox" id="microphoneCheck" name="microphoneCheck" value="true">마이크</label>
            <label for="content">내용</label>
            <input type="text" id="content" name="content">
            <button type="submit">등록</button>
        </form>
    </div>
</div>
</html>