<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="mb-3">
    <link rel="stylesheet" href="/css/duoArticle.css" type="text/css">
    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5 Nanum">
        <h1 class="text-center text-white display-6">승인페이지</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">승인페이지</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <div style="margin-top: 2rem; display: flex; justify-content: center; flex-wrap: wrap;">

        <div id="bottom" style="border-radius:1px; width: 1100px; border: 1px solid gray;">
            <table class="table Nanum" style="border-radius: 3px; height: 100%;">
                <thead style="border: darkgray; text-align: center; border-radius: 3px;">
                <tr style="font-size: 13px;">
                    <th scope="col">번호</th>
                    <th scope="col">ID</th>
                    <th scope="col" style="width: 40%">소개</th>
                    <th scope="col">등록일</th>
                    <th></th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                <tr th:each="expertRequest, loop : ${expertRequestList}">
                    <td style="width: 5%">
                        <div class="article-element"><span th:text="${loop.count}"></span></div>
                    </td>
                    <td style="width: 15%">
                        <div class="article-element"><span th:text="${expertRequest.userName}"></span></div>
                    </td>
                    <td style="width: 40%">
                        <div class="article-element">
                            <a th:href="@{|/expert/request/${expertRequest.id}|}" class="d-inline-block text-truncate" style="max-width: 450px;"
                                  th:text="${expertRequest.content}"></a>
                        </div>
                    </td>
                    <td style="width: 20%">
                        <div class="article-element"><span th:text="${#temporals.format(expertRequest.createDate, 'yyyy-MM-dd')}"></span></div>
                    </td>
                    <td style="width: 10%">
                        <div class="article-element">
                            <a class="btn btn-sm btn-outline-primary" th:href="@{|/expert/request/approve/${expertRequest.id}|}" style="margin-right: 6px;">승인</a>
                            <a class="btn btn-sm btn-outline-secondary" th:href="@{|/expert/request/reject/${expertRequest.id}|}">거부</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
</html>

