<html layout:decorate="~{layout}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<div layout:fragment="content" class="mb-3">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5 Nanum">
        <h1 class="text-center text-white display-6" th:text="${siteUser.nickname}"></h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">전문가 목록</li>
            <li class="breadcrumb-item active text-white" th:text="${siteUser.nickname}"></li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid mt-3">
        <div class="container pt-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center" style="align-items: flex-end;">
                    <img class="shadow" th:src="${profileImg}" alt="..."
                         style="width:90px; height:90px; border-radius: 50%;">
                    <h2 class="fw-bold ms-4" th:text="${siteUser.nickname}"></h2>
                </div>
                <div class="d-flex align-items-center">
                    <a th:if="${@rq.isLogin() and @rq.getSiteUser().username == siteUser.username}"
                       class="btn btn-outline-primary"
                       th:href="@{|/expert/modify/${@rq.getSiteUser().username}|}"
                       role="button">수정<i class="fa-solid fa-pen-to-square"></i></a>
                    <a th:if="${@rq.isLogin() and @rq.getSiteUser().username != siteUser.username}"
                       class="btn btn-outline-primary" th:href="@{|/chattingRoom/create/${siteUser.id}|}" role="button">상담신청<i
                            class="fa-solid fa-comment-dots" ></i></a>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-lg-4">
                    <div class="card border-0 shadow col-lg-12">
                        <div class="fw-bold card-header fs-5 ">
                            <span><i class="fa-solid fa-award me-2" style="color: goldenrod;"></i>경력</span>
                        </div>

                        <div class="card-body">
                            <div class="mx-2 my-4" th:each="career : ${careerList}">
                                <div class="Nanum fs-6 d-flex flex align-items-center">
                                    <i class="fa-solid fa-crown text-success ms-1 me-2 fa-lg"></i>
                                    <div>
                                        <span class="mx-2" th:text="|${career.category}"></span>
                                        <span th:text="${career.content}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card w-100 Regular shadow border-0 mt-3">
                        <div class="fw-bold card-header fs-5 ">
                            <i class="fa-solid fa-ranking-star text-danger"></i>
                            솔로랭크
                        </div>
                        <!-- spinner -->
                        <div class="text-center my-3 text-primary rankInfo-spinner">
                            <div class="spinner-border" role="status"></div>
                        </div>

                        <div class="rankInfo" style="display:none;">

                            <div class="card-body row">
                                <div class="col-8 d-flex align-items-center">
                                    <div class="bg-light rounded-circle"
                                         style=" width:100px; height:100px; overflow: hidden;">
                                        <img id="rankImg" src="" alt="..."
                                             style="width:100%; height:100%; object-fit:contain;">
                                    </div>
                                    <div id="tier-rank" class="ms-2 fs-4 fw-bold">
                                    </div>
                                </div>
                                <div class="col-4 d-flex align-items-center justify-content-end">
                                    <div class="text-end fs-6 text-secondary">
                                        <div id="win-lose">
                                        </div>
                                        <div id="win-rate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 ">

                    <div class="card p-0 border-0 shadow">
                        <div class="card-header fs-5 fw-bold">
                            <i class="fa-solid fa-microphone-lines text-primary me-2"></i>
                            소개
                        </div>

                        <div class="card-body">
                            [[${introduce == null ? "아직 등록된 소개가 없어요" : introduce}]]
                        </div>
                    </div>

                    <div class="card p-0 border-0 shadow mt-4">
                        <div class="card-header fs-5 fw-bold">
                            <i class="fa-solid fa-landmark me-2"></i>
                            강의
                        </div>
                        <div class="card-body">
                            <div th:each="courseScore : ${courseScoreList}">
                                <a class="rounded my-2 bg-secondary bg-opacity-10" th:href="@{|/course/detail/${courseScore.course.id}|}"
                                   style="display: flex; align-items: center; font-size: 21px;">
                                    <img class="ms-2" th:src="@{|/img/forMainCourse/${@rq.getRandomImage()}|}"
                                         alt="" style="width:100px; height:100px; border-radius: 7%; object-fit: cover;">
                                    <div style="display: flex; flex-direction: column; margin-left: 15px">
                                                    <span th:text="${courseScore.course.name}"
                                                          style="margin: 5px;"></span>
                                        <div style="margin: 5px; font-size: 18px; display: flex; align-items: center; margin-top: -3px;">
                                            <i class="review__rating fas fa-star"
                                               style="font-size: 15px;"></i><span
                                                th:text="${courseScore.avg}"
                                                style="margin-left: 5px;"></span>
                                        </div>
                                        <div style="margin: 5px; font-size: 20px;">
                                            <span th:text="${courseScore.course.price}"></span>
                                            <i class="fa-solid fa-coins" style="font-size: 15px;"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div th:if="${siteUser.username == @rq.getLoginedSiteUserUsername()}" class="card w-100 Regular shadow border-0 mt-3">
                        <div id="orderItemHistory" class="card w-100 Regular shadow border-0">
                            <div class="card-header fs-5 fw-bold">
                                <i class="fa-solid fa-dollar-sign me-2"></i>
                                판매 내역 ([[${orderItemList.totalElements}]])
                            </div>
                            <ul class="list-group list-group-flush text-center my-3">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-1">
                                            번호
                                        </div>
                                        <div class="col-5">
                                            판매 강의명
                                        </div>
                                        <div class="col-2">
                                            판매 포인트
                                        </div>
                                        <div class="col-2">
                                            구매자
                                        </div>
                                        <div class="col-2">
                                            판매 일시
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" th:each="orderItem, loop : ${orderItemList}">
                                    <div class="row">
                                        <div class="col-1">
                                            [[${orderItem.id}]]
                                        </div>
                                        <div class="col-5">
                                            [[${orderItem.name}]]
                                        </div>
                                        <div class="col-2">
                                            [[${orderItem.price}]]
                                        </div>
                                        <div class="col-2">
                                            [[${orderItem.buyer.nickname}]]
                                        </div>
                                        <div class="col-2">
                                            [[${#temporals.format(orderItem.createDate, 'yy-MM-dd HH:mm')}]]
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- 페이징처리 시작 -->
                            <div th:if="${!orderItemList.isEmpty()}">
                                <ul class="pagination pagination-sm justify-content-center d-flex justify-content-center">
                                    <li class="page-item" th:classappend="${!orderItemList.hasPrevious} ? 'disabled'">
                                        <a href="#" onclick="return false" class="orderItem-link page-link changePageButton"
                                           th:value="${orderItemList.number-1}">
                                            <span>이전</span>
                                        </a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(0, orderItemList.totalPages-1)}"
                                        th:if="${page >= orderItemList.number-3 and page <= orderItemList.number+3}"
                                        th:classappend="${page == orderItemList.number} ? 'active'"
                                        class="page-item">
                                        <a href="#" onclick="return false" class="orderItem-link page-link changePageButton"
                                           th:value="${page}">[[${page} + 1]]</a>
                                    </li>
                                    <li class="page-item" th:classappend="${!orderItemList.hasNext} ? 'disabled'">
                                        <a href="#" onclick="return false" class="orderItem-link page-link changePageButton"
                                           th:value="${orderItemList.number+1}">
                                            <span>다음</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- 페이징처리 끝 -->


                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <script th:inline="javascript">
        $(function () {
            <!-- 판매 내역 페이징 클릭시 이동 -->
            $(document).on('click', '.orderItem-link', function(event) {
                $.ajax({
                    type : 'get',              // 타입 (get, post, put 등등)
                    url : '/expert/detail/orderItem/' + $(this).attr("value"),     // 요청할 서버url
                    async : true,               // 비동기화 여부 (default : true)
                    headers : {                 // Http header
                        "Content-Type" : "application/json",
                        "X-HTTP-Method-Override" : "GET"
                    },
                    dataType : 'html',
                    success : function(result) { // 결과 성공 콜백함수
                        $("#orderItemHistory").replaceWith(result);
                    },
                    error : function(request, status, error) { // 결과 에러 콜백함수
                            console.log(error)
                    }
                })
            });

            <!-- 소환사 정보 요청 -->
            $.ajax({
                type: 'get',              // 타입 (get, post, put 등등)
                url: '/riotApiController/getLeagueDataByPuuid/' + [[${siteUser.puuid}]],     // 요청할 서버url
                async: true,               // 비동기화 여부 (default : true)
                headers: {                 // Http header
                    "Content-Type": "application/json",
                    "X-HTTP-Method-Override": "GET"
                },
                dataType: 'json',
                success: function (result) { // 결과 성공 콜백함수
                    $('.rankInfo-spinner').css("display", "none");
                    $('.rankInfo').css("display", "block");
                    if (result != null) {
                        $('#rankImg').attr("src", "/img/" + result.tier + ".png")
                        $('#tier-rank').text(result.tier + " " + result.rank)
                        $('#win-lose').text(result.wins + "승 " + result.losses + "패")
                        $('#win-rate').text("승률 " + (Math.round((result.wins / (result.wins + result.losses)) * 100)) + "%")
                    }
                },
                error: function (request, status, error) { // 결과 에러 콜백함수
                    console.log(error)
                }
            })

        });
    </script>
</div>
</html>
