<html layout:decorate="~{layout}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<div layout:fragment="content" class="mb-3">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5 Nanum">
        <h1 class="text-center text-white display-6" th:text="${siteUser.username}"></h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">전문가 목록</li>
            <li class="breadcrumb-item active text-white" th:text="${siteUser.username}"></li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid mt-3">
        <div class="container pt-5">
            <div class="d-flex justify-content-between mb-3" style="align-items: flex-end;">
                <div class="d-flex" style="align-items: flex-end;">
                    <img th:src="${profileImg}" alt="..."
                         style="width:70px; height:70px; border-radius: 50%;">
                    <h2 class="fw-bold" th:text="${siteUser.username}" style="margin-left: 20px;"></h2>
                </div>
                <div class="d-flex align-items-center">
                    <a th:if="${@rq.isLogin() and @rq.getSiteUser().username == siteUser.username}"
                       class="btn btn-sm btn-outline-primary"
                       th:href="@{|/career/create/${@rq.getSiteUser().username}|}"
                       role="button">수정</a>
                    <a th:if="${@rq.isLogin() and @rq.getSiteUser().username != siteUser.username}"
                       class="btn btn-sm btn-outline-primary" th:href="@{/}" role="button">상담신청</a>
                </div>
            </div>

            <div class="row g-5 mb-5">
                <div class="col-lg-8 col-xl-9">
                    <div class="row">
                        <div class="card p-0 border-0 shadow">
                            <ul class="list-group list-group-flush mb-5 p-4">
                                <li class="list-group-item">
                                    <h4 style="padding: 14px;">강의
                                        <a th:href="@{|/course/detail/${scoreCourse.value.id}|}"
                                           style="padding-top: 14px; display: flex; align-items: center; font-size: 21px;"
                                           th:each="scoreCourse : ${scoreCourseList}">
                                            <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg"
                                                 alt="" style="width:100px; height:100px; border-radius: 7%;">
                                            <div style="display: flex; flex-direction: column; margin-left: 15px">
                                                <span th:text="${scoreCourse.value.name}" style="margin: 5px;"></span>
                                                <div style="margin: 5px;">
                                                    <i class="review__rating fas fa-star"
                                                       style="font-size: 20px;"></i><span
                                                        th:text="${scoreCourse.key}" style="margin-left: 5px;"></span>
                                                </div>
                                                <div style="margin: 5px;">
                                                    <span th:text="${scoreCourse.value.price}"></span>
                                                    <i class="fa-solid fa-coins" style="font-size: 15px;"></i>
                                                </div>
                                            </div>
                                        </a>
                                    </h4>
                                </li>
                                <li class="list-group-item">
                                    <h4 style="padding: 14px;">소개</h4>
                                    <div>
                                        <span th:text="${introduce}"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-3 p-0">
                    <div class="card border-0 shadow col-lg-12 sticky-sm-top" style="top:115px;">
                        <div class="my-2 fw-bold" style="display:flex; justify-content:flex-start; font-size:18px;">
                            <span style="margin-left: 10px">경력</span>
                        </div>
                        <hr class="w-100 m-0">
                        <div class="m-2" th:each="career : ${careerList}" th:if="${career.category != null}">
                            <div>
                                <span th:text="|${career.category}, |"></span>
                                <span th:text="${career.content}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>
