<html layout:decorate="~{layout}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<div layout:fragment="content" class="mb-3">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5 Nanum">
        <h1 class="text-center text-white display-6" th:text="${siteUser.username}"></h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">전문가 목록</li>
            <li class="breadcrumb-item active text-white" th:text="${siteUser.username}"></li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid mt-3">
        <div class="container pt-5">

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center" style="align-items: flex-end;">
                    <img class="shadow" th:src="${profileImg}" alt="..."
                         style="width:90px; height:90px; border-radius: 50%;">
                    <h2 class="fw-bold ms-4" th:text="${siteUser.nickname}"></h2>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-sm btn-outline-secondary" style="margin-right: -20px;"
                       th:href="@{|/expert/detail/${@rq.getSiteUser().username}|}" role="button">뒤로</a>
                </div>
            </div>

            <div class="row mb-5">
                <form th:action="@{|/career/add/${siteUser.username}|}" class="col-lg-4" method="post">
                    <div class="card border-0 shadow col-lg-12 sticky-sm-top" style="top:115px;">
                        <div class="my-2 fw-bold" style="display:flex; justify-content:space-between; font-size:18px;">
                            <span style="margin-left: 10px"><i class="fa-solid fa-award" style="color: goldenrod; margin-right: 5px;"></i>경력</span>
                        </div>

                        <hr class="w-100 m-0">

                        <div class="m-2" style="display: flex; justify-content: space-between; align-items: center;"
                             th:each="careerWithCategory : ${careerWithCategoryList}" th:if="${careerWithCategoryList != null}">
                            <div>
                                <i th:class="|fa-solid fa-${careerWithCategory.category.icon} m-2|"
                                   th:if="${careerWithCategory.category.icon != 'youtube'}" th:style="|color: ${careerWithCategory.category.color};|"></i>
                                <i th:class="|fa-brands fa-${careerWithCategory.category.icon} m-2|"
                                   th:if="${careerWithCategory.category.icon == 'youtube'}" th:style="|color: ${careerWithCategory.category.color};|"></i>
                                <span th:text="${careerWithCategory.career.content}"></span>
                            </div>
                            <div >
                                <a class="btn btn-sm btn-outline-secondary" style="padding: 5px"
                                   th:href="@{|/career/delete/${careerWithCategory.career.id}|}" role="button">
                                    <i style="margin: 2px;" class="fa-solid fa-minus"></i></a>
                            </div>
                        </div>
                        <div>
                            <div style="display: flex; justify-content: center; padding: 5px; align-items: center;">
                                <div style="display: flex; margin-right: 5px;">
                                    <select name="category" class="form-select" aria-label="Default select example" >
                                        <option selected>카테고리</option>
                                        <option th:value="${category.id}" th:each="category : ${categoryList}" th:text="${category.category}">
                                        </option>
                                    </select>
                                    <input style="width: 60%;" name="content" type="text" class="form-control" placeholder="경력">
                                </div>
                                <div style="width: 20%; display: flex; justify-content: flex-end; margin-right: 2.5px;">
                                    <button  type="submit" class="btn btn-sm btn-outline-primary" style="padding: 5px">
                                        <i style="margin: 2px;" class="fa-solid fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="col-8">
                    <div class="row">
                        <div class="card p-0 border-0 shadow">
                            <div class="card-header fs-5 fw-bold">
                                <i class="fa-solid fa-microphone-lines text-primary me-2"></i>
                                소개
                            </div>

                            <div class="card-body">
                                [[${introduce == null ? "아직 등록된 소개가 없어요" : introduce}]]
                                <form th:action="@{|/expert/modify/${siteUser.username}|}" method="post">

                                    <textarea id="introduce" name="introduce" cols="90" rows="7" class="form-control mt-3"
                                              th:placeholder="${introduce}"></textarea>
                                    <button type="submit"
                                            class="btn btn-sm btn-outline-primary float-end my-2">저장
                                        <i class="fa-solid fa-floppy-disk"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="card p-0 border-0 shadow mt-4">
                            <div class="card-header fs-5 fw-bold">
                                <i class="fa-solid fa-landmark me-2"></i>
                                강의
                            </div>
                            <div class="card-body">
                                <div th:each="courseScore : ${courseScoreList}">
                                    <a class="rounded my-2 bg-secondary bg-opacity-10" th:href="@{|/course/detail/${courseScore.course.id}|}"
                                       style="display: flex; align-items: center; font-size: 21px;">
                                        <img class="ms-2" th:src="@{|/img/forMainCourse/${@rq.getRandomImage()}|}"
                                             alt="" style="width:100px; height:100px; border-radius: 7%; object-fit: cover;">
                                        <div style="display: flex; flex-direction: column; margin-left: 15px">
                                                    <span th:text="${courseScore.course.name}"
                                                          style="margin: 5px;"></span>
                                            <div style="margin: 5px; font-size: 18px; display: flex; align-items: center; margin-top: -3px;">
                                                <i class="review__rating fas fa-star"
                                                   style="font-size: 15px;"></i><span
                                                    th:text="${courseScore.avg}"
                                                    style="margin-left: 5px;"></span>
                                            </div>
                                            <div style="margin: 5px; font-size: 20px;">
                                                <span th:text="${courseScore.course.price}"></span>
                                                <i class="fa-solid fa-coins" style="font-size: 15px;"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
</html>
