<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">전문가 목록</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">전문가 목록</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container pb-5">
            <div class="row mt-1 mb-3">
                <div class=" col-3">
                    <div class="input-group">
                        <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                    </div>
                </div>
            </div>
            <div class="row row-cols-4 g-4 justify-content-start">
                <div class="col" th:each="siteUserWithImg, loop : ${siteUserWithImgList}">
                    <a th:href="@{|/expert/detail/${siteUserWithImg.siteUser.username}|}"
                       class="d-flex flex-column justify-content-between alin-items-between expert-card bg-white shadow border-0">

                        <div class="d-flex align-items-center">
                            <img th:src="${siteUserWithImg.img}" alt="..."
                                 style="width:70px; height:70px; border-radius: 50%;">
                            <div class="Nanum ms-2 fs-5" th:text="${siteUserWithImg.siteUser.nickname}"></div>
                        </div>

                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" id="careerList"
                             class=" Nanum mt-3 fs-6" th:if="${#lists.size(siteUserWithImg.expert.careerList) != 0}">
                            <div th:each="career : ${siteUserWithImg.expert.careerList}" class="career-item"
                                 style="display: none;">
                                <i id="careerIcon" th:class="|fa-solid fa-${career.icon} m-2|"
                                   th:if="${career.icon != 'youtube'}" th:style="|color: ${career.color};|"></i>
                                <i th:class="|fa-brands fa-${career.icon} m-2|"
                                   th:if="${career.icon == 'youtube'}" th:style="|color: ${career.color};|"></i>
                                <span id="careerContent" th:text="${career.content}"></span>
                            </div>
                        </div>
                        <div class="Nanum mt-3" th:unless="${#lists.size(siteUserWithImg.expert.careerList) != 0}">
                            아직 등록된 경력이 없어요
                        </div>
                        <div class="Nanum card bg-secondary bg-opacity-25 border-0 mt-3">
                            <div style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"
                                 class="mx-3 my-3">
                                [[${siteUserWithImg.expert.introduce == null ? "아직 등록된 소개글이 없어요":
                                siteUserWithImg.expert.introduce}]]
                            </div>
                        </div>
                        <div class="expert-content">
                        </div>
                    </a>
                </div>
            </div>
            <div class="mt-4">
                <!-- 페이징처리 시작 -->
                <div th:if="${!siteUserWithImgList.isEmpty()}">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item" th:classappend="${!siteUserWithImgList.hasPrevious} ? 'disabled'">
                            <a class="page-link"
                               href="javascript:void(0)" th:data-page="${siteUserWithImgList.number-1}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, siteUserWithImgList.totalPages-1)}"
                            th:if="${page >= siteUserWithImgList.number-5 and page <= siteUserWithImgList.number+5}"
                            th:classappend="${page == siteUserWithImgList.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page+1}" class="page-link"
                               href="javascript:void(0)" th:data-page="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!siteUserWithImgList.hasNext} ? 'disabled'">
                            <a class="page-link" href="javascript:void(0)"
                               th:data-page="${siteUserWithImgList.number + 1}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <form th:action="@{/expert/list}" method="get" id="searchForm">
                    <input type="hidden" id="kw" name="kw" th:value="${kw}">
                    <input type="hidden" id="page" name="page" th:value="${siteUserWithImgList.number}">
                </form>
            </div>
        </div>
    </div>


    <script layout:fragment="script" type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function () {
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
            document.getElementById('searchForm').submit();
        });

        document.addEventListener("DOMContentLoaded", function () {
            var items = document.querySelectorAll(".career-item");
            function start() {
                items.forEach(function (item, index) {
                    setTimeout(function () {
                        item.style.display = "block";
                        item.classList.add("animate");
                        item.addEventListener("animationend", function () {
                            item.style.display = "none";
                        });
                    }, index * 2500); // 4초 간격으로 순차적으로 애니메이션 시작
                });
            }
            start();
            items[items.length - 1].addEventListener("animationend", function () {
                start();
            });
        });
    </script>

</div>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</html>