<html layout:decorate="~{layout}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<div layout:fragment="content" class="mb-3">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">강의 상세</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">강의 목록</li>
            <li class="breadcrumb-item active text-white">강의 상세</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="Nanum container-fluid mt-3">
        <div class="container pt-5">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="d-flex align-items-center">
                    <h2 th:if="${course.isActive}" class="fw-bold" th:text="${course.name}"></h2>
                    <h2 th:if="!${course.isActive}" class="fw-bold" th:text="@{|${course.name}(폐지된 강의입니다.)|}"></h2>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary" th:href="@{|/course/update/${course.id}|}" role="button"
                       sec:authorize="isAuthenticated()"
                       th:if="${course.author != null and #authentication.getPrincipal().getUsername() == course.author.username}">강의
                        수정</a>
                    <a class="btn btn-primary" style="margin-left:10px;" th:href="@{/course/list}" role="button">강의
                        목록</a>
                </div>
            </div>

            <div class="row g-5 mb-5">

                <div class="col-lg-8 col-xl-9">

                    <div class="row">

                        <div class="card p-0 border-0 shadow">
                            <nav>
                                <div class="Nanum nav nav-tabs" style="display:flex;justify-content: space-around;">
                                    <button class="nav-link active border-white border-bottom-0" style="width:33%;"
                                            type="button"
                                            role="tab"
                                            id="nav-introduce-tab" data-bs-toggle="tab" data-bs-target="#nav-introduce"
                                            aria-controls="nav-about" aria-selected="true">강의 소개
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" style="width:33%;"
                                            type="button" role="tab"
                                            id="nav-curriculum-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-curriculum"
                                            aria-controls="nav-mission" aria-selected="false">강의 커리큘럼
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" style="width:33%;"
                                            type="button" role="tab"
                                            id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review"
                                            aria-controls="nav-mission" aria-selected="false">강의 리뷰
                                    </button>

                                </div>
                            </nav>
                            <div class="tab-content mb-5 p-4">
                                <div class="tab-pane active" id="nav-introduce" role="tabpanel" aria-labelledby="nav-introduce-tab">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <img th:src="${introduceImg}" alt="..." style="width:85%; border-radius: 1%;">
                                    </div>
                                    <div class="Nanum mt-3" style="display: flex; justify-content: center;">
                                        <span style="white-space:pre; width: 85%;" th:text="${course.introduce}"></span>
                                    </div>
                                </div>
                                <div class="tab-pane" id="nav-curriculum" role="tabpanel" aria-labelledby="nav-curriculum-tab">
                                    <div style="display: flex; flex-direction: column; align-items: center;">
                                        <img th:src="${curriculumImg}" alt="..." style="width:85%; border-radius: 1%;">
                                    </div>
                                    <div class="Nanum mt-3" style="display: flex; justify-content: center;">
                                        <span style="white-space:pre; width: 85%" th:text="${course.curriculum}"></span>
                                    </div>
                                </div>
                                <div class="tab-pane" id="nav-review" role="tabpanel"
                                     aria-labelledby="nav-review-tab">
                                    <h4 class="fw-bold">리뷰 작성하기</h4>
                                    <div class="row g-1">
                                        <div class="col-lg-12">
                                            <div class="rating">
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                            </div>
                                            <div class="border-bottom rounded mt-4 mb-2">
                                                    <textarea name="reviewContent" id="reviewContent"
                                                              class="form-control" cols="30" rows="4"
                                                              style="resize:none"
                                                              placeholder="리뷰 내용을 작성해주세요. *"
                                                              spellcheck="false"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-flex justify-content-end py-1">
                                                <button id="postReview"
                                                        class="btn border border-secondary text-primary rounded-pill px-3 py-2">
                                                    작성 완료
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="reviews">
                                        <div th:each="review : ${reviewList}">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <i th:if="${review.score}!=0"
                                                       th:each="num : ${#numbers.sequence(1,review.score)}"
                                                       class="review__rating fas fa-star"></i><i
                                                        th:if="    ${review.score}!=5"
                                                        th:each="num : ${#numbers.sequence(review.score+1,5)}"
                                                        class="review__rating far fa-star"></i>
                                                </div>
                                                <div>
                                                    <span th:text="@{|${review.author.username}|}"></span>
                                                    <span class="mb-1">|</span>
                                                    <span th:text="@{|${#temporals.format(review.createDate, 'yy-MM-dd HH:mm')}|}"></span>
                                                </div>
                                            </div>
                                            <div style="white-space:pre;" class="mt-4"
                                                 th:text="${review.content}"></div>
                                            <hr>
                                        </div>
                                        <div th:if="${!reviewList.isEmpty()}">
                                            <ul class="pagination d-flex justify-content-center">
                                                <li class="page-item"
                                                    th:classappend="${!reviewList.hasPrevious} ? 'disabled'">
                                                    <button class="page-link"
                                                            th:onclick="reviewPage([[${reviewList.number-1}]])">
                                                        <span>이전</span>
                                                    </button>
                                                </li>
                                                <li th:each="page: ${#numbers.sequence(0, reviewList.totalPages-1)}"
                                                    th:if="${page >= reviewList.number-5 and page <= reviewList.number+5}"
                                                    th:classappend="${page == reviewList.number} ? 'active'"
                                                    class="page-item">
                                                    <button th:text="${page+1}" class="page-link"
                                                            th:onclick="reviewPage([[${page}]])"></button>
                                                </li>
                                                <li class="page-item"
                                                    th:classappend="${!reviewList.hasNext} ? 'disabled'">
                                                    <button class="page-link"
                                                            th:onclick="reviewPage([[${reviewList.number+1}]])">
                                                        <span>다음</span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-3 p-0 ">
                    <div class="sticky-sm-top" style="top:110px;">
                        <div class="card border-0 shadow col-lg-12">
                            <div class="my-2 fw-bold" style="display:flex; justify-content:center; font-size:18px;">
                                구매 정보
                            </div>
                            <hr class="w-100 p-0 m-0">
                            <div class="m-2 mx-4 flex-lg-wrap" th:if="${course.discountRate}==0">
                                <div style="font-size:19px;" class="fw-bold mb-0"
                                     th:text="@{|${course.price} 포인트|}"></div>
                            </div>
                            <div class="m-2 mx-4 flex-lg-wrap" th:if="${course.discountRate}!=0">
                                <i style="color:red;" class="fa-solid fa-arrow-down"></i>
                                <span style="font-size:19px; color:red;" class="fw-bold mb-0"
                                      th:text="@{|${course.discountRate}%|}"></span>
                                <span style="color:darkgray;" class="text-decoration-line-through fw-bold mb-0"
                                      th:text="@{|${course.price}|}"></span>
                                <div style="font-size:19px;" class="fw-bold mb-0"
                                     th:text="@{|${course.price-course.price*course.discountRate/100} 포인트|}"></div>
                            </div>
                            <div class="m-2 mx-4 fw-bold mt-1" th:if="${@rq.isLogin()}">
                                보유 포인트 : [[${@rq.getSiteUser != null ? @rq.getSiteUser.point : null }]]
                            </div>
                            <button th:if="${@rq.isLogin()}" id="orderButton" href="#" class="btn mx-4"
                                    style="background-color: #0D6EFD; color:white;">구매하기
                            </button>
                            <button th:if="${@rq.isLogin()}" class="btn my-1 mb-3 mx-4" id="addCart"
                                    style="background-color: #0D6EFD; color:white;">
                                장바구니 담기
                            </button>
                        </div>
                        <a th:href="@{|/expert/detail/${expertData.siteUser.username}|}"
                           class="d-flex flex-column justify-content-between alin-items-between card bg-white shadow border-0 mt-3">
                            <div class="card-header bg-white text-center fw-bold" style="font-size:18px;">
                                담당 전문가
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img th:src="${expertData.img}" alt="..."
                                         style="width:50px; height:50px; border-radius: 50%;">
                                    <div class="Nanum ms-2 fs-5" th:text="${expertData.siteUser.nickname}"></div>
                                </div>

                                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                     class=" Nanum mt-3 fs-6" th:if="${#lists.size(expertData.expert.careerList) != 0}">
                                    <i class="fa-solid fa-crown text-success ms-3 me-2 fa-lg"></i>
                                    <span>[[${#lists.size(expertData.expert.careerList) != 0 ? expertData.expert.careerList[0].category: null}]]</span>
                                    <span>
                                    [[${#lists.size(expertData.expert.careerList) != 0 ? expertData.expert.careerList[0].content: null}]]
                                </span>
                                </div>
                                <div class="mt-3" th:unless="${#lists.size(expertData.expert.careerList) != 0}">
                                    아직 등록된 경력이 없어요
                                </div>
                                <div class="card bg-secondary bg-opacity-25 border-0 mt-3">
                                    <div style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"
                                         class="mx-3 my-3">
                                        [[${expertData.expert.introduce == null ? "아직 등록된 소개글이 없어요":
                                        expertData.expert.introduce}]]
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <h1 class="fw-bold">관련 강의</h1>
            <div class="vesitable">
                <div class="owl-carousel vegetable-carousel justify-content-center">
                    <a th:each="relateCourse : ${courseListByAuthor}"
                       th:href="@{|/course/detail/${relateCourse.id}|}">
                        <div class="border border-primary rounded position-relative vesitable-item">
                            <div>
                                <img th:src=@{|/img/forMainCourse/${@rq.getRandomImage()}|}
                                     class="vesitable-img w-100 rounded-top" alt="">
                            </div>
                            <div class="p-4 rounded-bottom">
                                <h4 th:text="${relateCourse.author.nickname}"></h4>
                                <div>
                                    <i th:each="num : ${#numbers.sequence(1,5)}"
                                       class="review__rating fas fa-star"></i>
                                    <span class="Nanum" th:text="|(${#lists.size(relateCourse.reviewList)})|"></span>
                                </div>
                                <div class="mt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                     th:text="${relateCourse.name}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {

            $('#orderButton').on("click", function () {

                var pp = [[${course.price-course.price*course.discountRate/100}]];

                var authorName = "[[${course.author.username}]]";
                var courseIsActive = [[${course.isActive}]];
                var buyUserName = "[[${@rq.getSiteUser != null ? @rq.getSiteUser.username : null }]]";
                var buyUserPoint = [[${@rq.getSiteUser != null ? @rq.getSiteUser.point : null }]];

                if (!courseIsActive) {
                    alert("폐지된 강의는 구매할 수 없습니다.");
                    return;
                }

                if (buyUserName == authorName) {
                    alert("자신의 강의는 구매할 수 없습니다.");
                    return;
                }

                if (buyUserPoint - pp < 0) {
                    alert("포인트가 부족합니다. 충전 후 이용해 주세요.");
                    return;
                }

                if (!confirm("정말 " + pp + "포인트를 소모하여 해당 강의를 구매하시겠습니까?")) {
                    return;
                }

                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    type: 'post',              // 타입 (get, post, put 등등)
                    url: '/orderItem/create',     // 요청할 서버url
                    async: true,               // 비동기화 여부 (default : true)
                    beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    headers: {                 // Http header
                        "Content-Type": "application/json",
                        "X-HTTP-Method-Override": "POST"
                    },
                    dataType: 'json',          // 받을 데이터 타입 (html, xml, json, text 등등)
                    data: JSON.stringify({     // 보낼 데이터 (Object , String, Array)
                        "course_id": [[${course.id}]]
                    }),
                    success: function (result) { // 결과 성공 콜백함수
                        alert(result.msg);
                        window.location.href = '/chattingRoom/list';
                    },
                    error: function (request, status, error) { // 결과 에러 콜백함수
                        console.log(error)
                    }
                })
            });


            $('#postReview').on("click", function () {
                var authorName = "[[${course.author.username}]]";
                var buyUserName = "[[${@rq.getSiteUser != null ? @rq.getSiteUser.username : null }]]";

                if (buyUserName == authorName) {
                    alert("자신의 강의에는 리뷰를 작성할 수 없습니다.");
                    return;
                }
                if (![[${isPurchased}]]) {
                    alert("강의 구매 후 리뷰 작성이 가능합니다.");
                    return;
                }
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                console.log(1)
                $.ajax({
                    type: 'post',              // 타입 (get, post, put 등등)
                    url: '/review/create',     // 요청할 서버url
                    async: true,               // 비동기화 여부 (default : true)
                    beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    headers: {                 // Http header
                        "Content-Type": "application/json",
                        "X-HTTP-Method-Override": "POST"
                    },
                    dataType: 'text',          // 데이터 타입 (html, xml, json, text 등등)
                    data: JSON.stringify({     // 보낼 데이터 (Object , String, Array)
                        "courseId": [[${course.id}]],
                        "content": $('#reviewContent').val().trim(),
                        "score": $('.rating__star.fas.fa-star').length
                    }),
                    success: function (result) { // 결과 성공 콜백함수
                        $('#reviews').replaceWith(result);
                        $('.rating__star.fas.fa-star').removeClass('fas fa-star').addClass('far fa-star');
                        $('#reviewContent').val('');
                    },
                    error: function (request, status, error) { // 결과 에러 콜백함수
                        console.log(error);
                    }
                })
            });
            const ratingStars = [...document.getElementsByClassName("rating__star")];

            function executeRating(stars) {
                const starClassActive = "rating__star fas fa-star";
                const starClassUnactive = "rating__star far fa-star";
                const starsLength = stars.length;
                let i;
                stars.map((star) => {
                    star.onclick = () => {

                        i = stars.indexOf(star);
                        if (star.className.indexOf(starClassUnactive) !== -1) {
                            for (i; i >= 0; --i) stars[i].className = starClassActive;
                        } else {
                            for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
                        }
                    };
                });
            }

            executeRating(ratingStars);

        });
        $('#addCart').on("click", function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var courseIsActive = [[${course.isActive}]];

            if (!courseIsActive) {
                alert("폐지된 강의는 장바구니에 담을 수 없습니다.");
                return;
            }

            $.ajax({
                type: 'get',              // 타입 (get, post, put 등등)
                url: '/cart/add/[[${course.id}]]',     // 요청할 서버url
                async: true,               // 비동기화 여부 (default : true)
                beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                    xhr.setRequestHeader(header, token);
                },
                headers: {                 // Http header
                    "Content-Type": "application/json",
                    "X-HTTP-Method-Override": "POST"
                },
                success: function (result) { // 결과 성공 콜백함수
                    if (result == "success") {
                        alert("장바구니에 담았습니다.");
                    } else if (result == "myCourse") {
                        alert("자신의 강의는 장바구니에 담을 수 없습니다.");
                    } else {
                        alert("이미 장바구니에 있는 강의입니다.")
                    }
                },
                error: function (request, status, error) { // 결과 에러 콜백함수
                    console.log(error);
                }
            })
        });

        function reviewPage(pageNum) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                type: 'post',              // 타입 (get, post, put 등등)
                url: '/review/list/[[${course.id}]]',     // 요청할 서버url
                async: true,               // 비동기화 여부 (default : true)
                beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                    xhr.setRequestHeader(header, token);
                },
                headers: {                 // Http header
                    "Content-Type": "application/json",
                    "X-HTTP-Method-Override": "POST"
                },
                dataType: 'text',          // 데이터 타입 (html, xml, json, text 등등)
                data: JSON.stringify({     // 보낼 데이터 (Object , String, Array)
                    "page": pageNum
                }),
                success: function (result) { // 결과 성공 콜백함수
                    $('#reviews').replaceWith(result);
                },
                error: function (request, status, error) { // 결과 에러 콜백함수
                    console.log(error)
                }
            })
        }
    </script>
</div>
</html>
