<html layout:decorate="~{layout}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<div layout:fragment="content" class="mb-3">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">강의 상세</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">강의 목록</li>
            <li class="breadcrumb-item active text-white">강의 상세</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Single Product Start -->
    <div class="container-fluid mt-3">
        <div class="container pt-5">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="d-flex align-items-center">
                    <h2 class="fw-bold" th:text="${course.name}"></h2>
                    <div class="badge rounded-pill text-bg-primary ms-2">[[${course.gameCategoryname}]]</div>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-primary" th:href="@{/course/list}" role="button">강의 목록</a>
                </div>
            </div>

            <div class="row g-5 mb-5">

                <div class="col-lg-8 col-xl-9">

                    <div class="row">

                        <div class="card p-0 border-0 shadow">
                            <nav>
                                <div class="nav nav-tabs" style="display:flex;justify-content: space-around;">
                                    <button class="nav-link active border-white border-bottom-0" style="width:33%;"
                                            type="button"
                                            role="tab"
                                            id="nav-introduce-tab" data-bs-toggle="tab" data-bs-target="#nav-introduce"
                                            aria-controls="nav-about" aria-selected="true">강의 소개
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" style="width:33%;"
                                            type="button" role="tab"
                                            id="nav-curriculum-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-curriculum"
                                            aria-controls="nav-mission" aria-selected="false">강의 커리큘럼
                                    </button>
                                    <button class="nav-link border-white border-bottom-0" style="width:33%;"
                                            type="button" role="tab"
                                            id="nav-review-tab" data-bs-toggle="tab" data-bs-target="#nav-review"
                                            aria-controls="nav-mission" aria-selected="false">강의 리뷰
                                    </button>

                                </div>
                            </nav>
                            <div class="tab-content mb-5 p-4">
                                <div class="tab-pane active" id="nav-introduce" role="tabpanel"
                                     aria-labelledby="nav-introduce-tab" th:text="${course.introduce}">
                                </div>
                                <div class="tab-pane" id="nav-curriculum" role="tabpanel"
                                     aria-labelledby="nav-curriculum-tab" th:text="${course.curriculum}">
                                </div>
                                <div class="tab-pane" id="nav-review" role="tabpanel"
                                     aria-labelledby="nav-review-tab">
                                    <h4 class="fw-bold">리뷰 작성하기</h4>
                                    <div class="row g-1">
                                        <div class="col-lg-12">
                                            <div class="rating">
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                                <i class="rating__star far fa-star"></i>
                                            </div>
                                            <div class="border-bottom rounded mt-4 mb-2">
                                                    <textarea name="reviewContent" id="reviewContent"
                                                              class="form-control" cols="30" rows="4"
                                                              style="resize:none"
                                                              placeholder="리뷰 내용을 작성해주세요. *"
                                                              spellcheck="false"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-flex justify-content-end py-1">
                                                <button id="postReview"
                                                        class="btn border border-secondary text-primary rounded-pill px-3 py-2">
                                                    작성 완료
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="reviews">
                                        <div th:each="review : ${reviewList}">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <i th:if="${review.score}!=0"
                                                       th:each="num : ${#numbers.sequence(1,review.score)}"
                                                       class="review__rating fas fa-star"></i><i
                                                        th:if="    ${review.score}!=5"
                                                        th:each="num : ${#numbers.sequence(review.score+1,5)}"
                                                        class="review__rating far fa-star"></i>
                                                </div>
                                                <div>
                                                    <span th:text="@{|${review.author.username}|}"></span>
                                                    <span class="mb-1">|</span>
                                                    <span th:text="@{|${#temporals.format(review.createDate, 'yy-MM-dd HH:mm')}|}"></span>
                                                </div>
                                            </div>
                                            <p class="mt-4" th:text="${review.content}"></p>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xl-3 p-0">
                    <div class="card border-0 shadow col-lg-12 sticky-sm-top" style="top:115px;">
                        <div class="my-2 fw-bold" style="display:flex; justify-content:center; font-size:18px;">
                            담당 전문가 이력
                        </div>
                        <hr class="w-100 m-0">
                        <div class="m-2">
                            <div th:text="@{|인게임명 : ${course.author.gameName} #${course.author.tag}|}"></div>
                            <div>경력 ~</div>
                        </div>
                        <hr class="w-100 m-0">
                        <div class="my-2 fw-bold" style="display:flex; justify-content:center; font-size:18px;">
                            구매 정보
                        </div>
                        <hr class="w-100 p-0 m-0">
                        <div class="m-2 mx-4 fw-bold" th:text="@{|강의 가격 : ${course.price} 포인트|}"></div>
                        <div class="m-2 mx-4 fw-bold"> 내 보유 포인트 : [[${@rq.getSiteUser.point}]]</div>
                        <button id="orderButton" href="#" class="btn mx-4" style="background-color: #0D6EFD; color:white;">구매하기</button>
                        <button class="btn my-1 mb-3 mx-4" id="addCart" style="background-color: #0D6EFD; color:white;">
                            장바구니 담기
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1 class="fw-bold">관련 강의</h1>
            <div class="vesitable">
                <div class="owl-carousel vegetable-carousel justify-content-center">
                    <a th:each="relateCourse : ${courseListByAuthor}" th:href="@{|/course/detail/${relateCourse.id}|}">
                        <div class="border border-primary rounded position-relative vesitable-item">
                            <div>
                                <img src="https://i.namu.wiki/i/30whaqjessttAI0WYfI4EUeLMpBsch-usaIxU4jd3GJlKj1WSMwTDR8CODkb7dGvhi4PNfYcawLB-scDXOl4QmsFMJpQMTtPhKXUy9DCBdg1_hgm38L9MbXVlRGqDi8KbOwkouNYVtX5NDvT9L3vbA.webp"
                                     class="vesitable-img w-100 rounded-top" alt="">
                            </div>
                            <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                                 style="top: 10px; right: 10px;" th:text="${relateCourse.gameCategoryname}">
                            </div>
                            <div class="p-4 rounded-bottom">
                                <h4 th:text="${relateCourse.author.nickname}"></h4>
                                <div th:text="${relateCourse.introduce}"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {

            $('#orderButton').on("click", function(){

                var pp = [[${course.price}]];

                if("[[${@rq.getSiteUser.username}]]" == "[[${course.author.username}]]" ){
                    alert("자신의 강의는 구매할 수 없습니다.");
                    return;
                }

                if([[${@rq.getSiteUser.point}]] - pp < 0 ){
                    alert("포인트가 부족합니다. 충전 후 이용해 주세요.");
                    return;
                }

                if(!confirm("정말 "+pp+"포인트를 소모하여 해당 강의를 구매하시겠습니까?")){
                    return;
                }

                var token = $("meta[name='_csrf']").attr("content");
		        var header = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    type : 'post',              // 타입 (get, post, put 등등)
                    url : '/orderItem/create',     // 요청할 서버url
                    async : true,               // 비동기화 여부 (default : true)
                    beforeSend : function(xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                        xhr.setRequestHeader(header, token);
                    },
                    headers : {                 // Http header
                        "Content-Type" : "application/json",
                        "X-HTTP-Method-Override" : "POST"
                    },
                    dataType : 'json',          // 받을 데이터 타입 (html, xml, json, text 등등)
                    data : JSON.stringify({     // 보낼 데이터 (Object , String, Array)
                        "course_id" : [[${course.id}]]
                    }),
                    success : function(result) { // 결과 성공 콜백함수
                       alert(result.msg);
                       window.location.href = '/chattingRoom/list';
                    },
                    error : function(request, status, error) { // 결과 에러 콜백함수
                            console.log(error)
                    }
                })
            });


            $('#postReview').on("click", function(){
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                console.log(1)
                $.ajax({
                     type : 'post',              // 타입 (get, post, put 등등)
                     url : '/review/create',     // 요청할 서버url
                     async : true,               // 비동기화 여부 (default : true)
                     beforeSend : function(xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                         xhr.setRequestHeader(header, token);
                     },
                     headers : {                 // Http header
                         "Content-Type" : "application/json",
                         "X-HTTP-Method-Override" : "POST"
                     },
                     dataType : 'text',          // 데이터 타입 (html, xml, json, text 등등)
                     data : JSON.stringify({     // 보낼 데이터 (Object , String, Array)
                         "courseId" : [[${course.id}]],
                         "content" : $('#reviewContent').val().trim(),
                         "score" : $('.rating__star.fas.fa-star').length
                     }),
                     success : function(result) { // 결과 성공 콜백함수
                            $('#reviews').replaceWith(result);
                            $('.rating__star.fas.fa-star').removeClass('fas fa-star').addClass('far fa-star');
                            $('#reviewContent').val('');

                     },
                     error : function(request, status, error) { // 결과 에러 콜백함수
                             console.log(error);
                     }
                })
            });
            const ratingStars = [...document.getElementsByClassName("rating__star")];
            function executeRating(stars) {
                const starClassActive = "rating__star fas fa-star";
                const starClassUnactive = "rating__star far fa-star";
                const starsLength = stars.length;
                let i;
                stars.map((star) => {
                    star.onclick = () => {

                        i = stars.indexOf(star);
                        if (star.className.indexOf(starClassUnactive) !== -1) {
                            for (i; i >= 0; --i) stars[i].className = starClassActive;
                        } else {
                            for (i; i < starsLength; ++i) stars[i].className = starClassUnactive;
                        }
                    };
                });
            }

            executeRating(ratingStars);

        });
        $('#addCart').on("click", function(){
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                console.log(1)
                $.ajax({
                     type : 'get',              // 타입 (get, post, put 등등)
                     url : '/cart/add/[[${course.id}]]',     // 요청할 서버url
                     async : true,               // 비동기화 여부 (default : true)
                     beforeSend : function(xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                         xhr.setRequestHeader(header, token);
                     },
                     headers : {                 // Http header
                         "Content-Type" : "application/json",
                         "X-HTTP-Method-Override" : "POST"
                     },
                     success : function(result) { // 결과 성공 콜백함수
                            if(result=="success"){
                                alert("장바구니에 담았습니다.");
                            } else if(result == "myCourse"){
                                alert("자신의 강의는 장바구니에 담을 수 없습니다.");
                            }
                            else{
                                alert("이미 장바구니에 있는 강의입니다.")
                            }
                     },
                     error : function(request, status, error) { // 결과 에러 콜백함수
                             console.log(error);
                     }
                })
        });
    </script>
</div>
</html>
