<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">강의 목록</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">강의 목록</li>
        </ol>
    </div>
    <!-- Single Page Header End -->


    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite py-5">
        <div class="container d-flex justify-content-end">
            <a th:if="${@rq.isLogin() and @rq.getSiteUser().authorization == 'Expert'}"
               href="/course/create" class="btn btn-primary btn-sm">강의 등록</a>
        </div>
        <div class="container mt-4 pb-5">

            <div class="row row-cols-4 g-4 justify-content-start">
                <div class="col" th:each="course : ${courseList}">
                    <div class="rounded position-relative fruite-item">
                        <a th:href="@{|/course/detail/${course.id}|}">
                            <div class="fruite-img">
                                <img th:src=@{|/img/forMainCourse/${@rq.getRandomImage()}|}
                                     class="img-fluid w-100 rounded-top" alt="">
                            </div>
                        </a>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                             style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; top: 10px; left: 10px;"
                             th:text="${course.gameCategoryname}">
                        </div>
                        <div class="p-4 border border-top-0 rounded-bottom">
                            <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="mb-3">
                                <a th:href="@{|/course/detail/${course.id}|}"
                                   th:text="${course.name}"></a>
                            </h4>
                            <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                               th:text="${course.introduce}"></p>
                            <div th:if="${course.discountRate}==0" class="flex-lg-wrap">
                                <p style="font-size:19px;" class=" fs-7 fw-bold mb-0"
                                   th:text="@{|${course.price} 포인트|}"></p>
                            </div>
                            <div th:if="${course.discountRate}!=0" class="flex-lg-wrap">
                                <i style="color:red;" class="fa-solid fa-arrow-down"></i>
                                <span style="font-size:19px; color:red;" class="fw-bold mb-0"
                                      th:text="@{|${course.discountRate}%|}"></span>
                                <span style="font-size:19px;" class="fw-bold mb-0"
                                      th:text="@{|${course.price-course.price*course.discountRate/100} 포인트|}"></span>
                                <span style="color:darkgray;" class="text-decoration-line-through fw-bold mb-0"
                                      th:text="@{|${course.price}|}"></span>
                            </div>
                            <br>
                            <a th:href="@{|/course/detail/${course.id}|}"
                               class="btn border border-secondary rounded-pill px-3 text-primary"
                               style="display:block;">상세
                                보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div th:if="${!courseList.isEmpty()}">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item" th:classappend="${!courseList.hasPrevious} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{|?page=${courseList.number-1}|}">
                                <span>이전</span>
                            </a>
                        </li>
                        <li th:each="page: ${#numbers.sequence(0, courseList.totalPages-1)}"
                            th:if="${page >= courseList.number-5 and page <= courseList.number+5}"
                            th:classappend="${page == courseList.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page+1}" class="page-link"
                               th:href="@{|?page=${page}|}"></a>
                        </li>
                        <li class="page-item" th:classappend="${!courseList.hasNext} ? 'disabled'">
                            <a class="page-link" th:href="@{|?page=${courseList.number+1}|}">
                                <span>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
        <div class="container py-5">
            <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                <div class="row g-4">
                    <div class="col-lg-3">
                        <a href="#">
                            <h1 class="text-primary mb-0">Fruitables</h1>
                            <p class="text-secondary mb-0">Fresh products</p>
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mx-auto">
                            <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number"
                                   placeholder="Your Email">
                            <button type="submit"
                                    class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white"
                                    style="top: 0; right: 0;">Subscribe Now
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="d-flex justify-content-end pt-3">
                            <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                    class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i
                                    class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i
                                    class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Why People Like us!</h4>
                        <p class="mb-4">typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
                        <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Shop Info</h4>
                        <a class="btn-link" href="">About Us</a>
                        <a class="btn-link" href="">Contact Us</a>
                        <a class="btn-link" href="">Privacy Policy</a>
                        <a class="btn-link" href="">Terms & Condition</a>
                        <a class="btn-link" href="">Return Policy</a>
                        <a class="btn-link" href="">FAQs & Help</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex flex-column text-start footer-item">
                        <h4 class="text-light mb-3">Account</h4>
                        <a class="btn-link" href="">My Account</a>
                        <a class="btn-link" href="">Shop details</a>
                        <a class="btn-link" href="">Shopping Cart</a>
                        <a class="btn-link" href="">Wishlist</a>
                        <a class="btn-link" href="">Order History</a>
                        <a class="btn-link" href="">International Orders</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-item">
                        <h4 class="text-light mb-3">Contact</h4>
                        <p>Address: 1429 Netus Rd, NY 48247</p>
                        <p>Email: Example@gmail.com</p>
                        <p>Phone: +0123 4567 8910</p>
                        <p>Payment Accepted</p>
                        <img src="img/payment.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright bg-dark py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 my-auto text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a
                        class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
            class="fa fa-arrow-up"></i></a>
</div>
</html>