<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">마이페이지</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item active text-white">홈</li>
            <li class="breadcrumb-item active text-white">마이페이지</li>
        </ol>
    </div>
    <!-- Single Page Header End -->

    <div class="container-fluid mt-5">
        <div class="container mx-auto">
            <div class="row">
                <div class="col-1 text-center">
                    <div class="bg-white rounded-circle shadow" style=" width:100px; height:100px; overflow: hidden;">
                        <img th:src="${@rq.getProfileImg()}" alt="..." style="width:100%; height:100%; object-fit:contain;">
                    </div>
                </div>
                <div class="col-11 d-flex flex-column justify-content-center">
                    <div class="ms-2 fw-bold">
                        <h4>
                            안녕하세요 [[${@rq.getSiteUser().nickname}]] 님!
                        </h4>
                        <div>
                            <span class="badge rounded-pill text-bg-primary ">[[${@rq.getSiteUser().tag}]]</span>
                            [[${@rq.getSiteUser().gameName}]]
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-3">
                    <div class="card w-100 Regular shadow border-0">
                        <div class="card-header bg-white">솔로랭크</div>

                        <div class="card-body">
                            <div class="bg-light rounded-circle" style=" width:100px; height:100px; overflow: hidden;">
                                <img id="rankImg" src="" alt="..." style="width:100%; height:100%; object-fit:contain;">
                            </div>
                            <div class="d-flex">
                                <div id="tier">

                                </div>
                                <div id="rank">

                                </div>
                                <div id="win-lose">

                                </div>
                                <div id="win-rate">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-9">
                    <div class="card w-100 Regular shadow border-0">
                        <div>
                            <img src="..." class="card-img-top" alt="..." style="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script th:inline="javascript">
$(function() {

    var puuid = [[${@rq.getSiteUser().puuid}]];

    $.ajax({
        type : 'get',              // 타입 (get, post, put 등등)
        url : '/riotApiController/getLeagueDataByPuuid/' + puuid,     // 요청할 서버url
        async : true,               // 비동기화 여부 (default : true)
        headers : {                 // Http header
            "Content-Type" : "application/json",
            "X-HTTP-Method-Override" : "GET"
        },
        dataType : 'json',
        success : function(result) { // 결과 성공 콜백함수
            if(result != null){
                $('#rankImg').attr("src","/img/"+result.tier+".png")
                $('#tier').text(result.tier)
                $('#rank').text(result.rank)
                $('#win-lose').text(result.wins+"승 "+result.losses+"패")
                $('#win-rate').text(Math.ceil((result.wins / (result.wins+result.losses))*100))
            }
            console.log(result)
<!--            let data = JSON.parse(result)-->
          },
        error : function(request, status, error) { // 결과 에러 콜백함수
                console.log(error)
        }
    })

});
</script>

</div>
</html>