<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">

    <!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">QnA 상세</h1>
    </div>
    <!-- Single Page Header End -->

    <!-- Single Product Start -->
    <div class="container-fluid mt-3">
        <div class="container pt-5">
            <div class="card border-0 shadow ">
                <h4 class="card-header text-center d-flex justify-content-center">
                    <div th:if="${qnA.isBlind}">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div th:unless="${qnA.isBlind}">
                        <i class="fa-solid fa-lock-open"></i>
                    </div>
                    &nbsp;
                    [[${qnA.title}]]
                </h4>
                <div class="card-body">
                    [[${qnA.content}]]
                    <div class="text-end">
                        [[${#temporals.format(qnA.createDate, 'yy-MM-dd HH:mm')}]]
                    </div>
                </div>
                <div class="border-top">
                    <div th:if="${qnA.isAnswered}">
                        <div class="card-body d-flex">
                            <div>
                                <i class="fa-regular fa-circle-check text-success"></i>
                            </div>
                            <div class="ms-3">
                                [[${qnA.answer}]]
                            </div>
                        </div>
                        <div class="card-body">
                            <span class="float-end mb-3">
                                [[${#temporals.format(qnA.answerDate, 'yy-MM-dd HH:mm')}]]
                            </span>
                            <div>
                                <a th:if="${@rq.getLoginedSiteUserUsername() == 'admin' }" th:href="@{|/qna/answerUpdate/${qnA.id}|}" class="btn btn-outline-success mt-2 mb-4">
                                    답변 수정
                                </a>
                            </div>
                        </div>

                    </div>
                    <div th:unless="${qnA.isAnswered}">
                        <div class="card-body d-flex">
                            <div>
                                <i class="fa-regular fa-circle-xmark text-danger"></i>
                            </div>
                            <div class="ms-3">
                                아직 답변이 되지 않았습니다.
                            </div>
                        </div>
                        <div class="card-body" th:if="${@rq.getLoginedSiteUserUsername() == 'admin' }">
                            <form th:action="@{|/qna/answer/${qnA.id}|}" th:object="${qnAAnswerForm}" method="post">
                                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                                <div class="form-item">
                                <textarea name="answer" class="form-control" rows="5" style="resize: none;"
                                          placeholder="답변내용을 입력해주세요"></textarea>
                                </div>
                                <button type="submit" class="btn border-secondary text-primary float-end mt-3 mb-5">답변 등록
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <div>
                    <a href="/qna/list" class="btn btn-outline-primary">
                        목록으로
                    </a>
                </div>
                <div th:if="${@rq.getLoginedSiteUserUsername() == qnA.author.username }">
                    <a th:href="@{|/qna/update/${qnA.id}|}" class="btn btn-outline-success">
                        수정
                    </a>
                    <a href="#" id="deleteButton"  class="btn btn-outline-danger">
                        삭제
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $("#deleteButton").on("click",function(){
                if(!confirm("진짜 삭제할꺼야?")){
                    return;
                }
                window.location.href = "/qna/delete/[[${qnA.id}]]"
            });

        });

    </script>
</div>
</html>
