<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">

    <!-- Hero Start -->
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">

                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-4">게임 강의 플랫폼</h4>
                    <h1 class="mb-2 text-primary text-bold">모든 유저들을 위한</h1>
                    <h1 class="mb-4 text-primary">GamePT에 오신 것을 환영 합니다.</h1>
                    <div class="col-10 row g-1">
                        <div class="col-3">
                            <div class="input-group">
                                <select class="form-select" id="category_select" aria-label="Large select example">
                                    <option value="course">강의</option>
                                    <option value="expert">전문가</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="input-group">
                                <input type="text" id="search_kw" class="form-control" placeholder="검색어를 입력하세요">
                                <a href="#" class="btn btn-outline-primary border-2" id="btn_search" type="button" >검색</a>
                            </div>
                        </div>
                        <form th:action="@{/home/search}" method="get" id="searchForm">
                            <input type="hidden" id="category" name="category">
                            <input type="hidden" id="kw" name="kw">
                        </form>
                    </div>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="/img/main-carousel-1.webp" class="img-fluid w-100 h-100 bg-secondary rounded"
                                     alt="First slide">
                                <a href="/course/list" class="btn px-4 py-2 text-white rounded">강의</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="/img/main-carousel-2.webp" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                <a href="/expert/users" class="btn px-4 py-2 text-white rounded">전문가</a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite pt-2 pb-5 ">
        <div class="container">
            <div class="tab-class text-center">
                <div class="row g-4">
                    <div class="col-lg-4 text-start">
                        <h1>신규 강의</h1>
                    </div>
                </div>
                <div class="tab-content mt-3">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row row-cols-4 g-4 justify-content-start">
                            <div class="col" th:each="course : ${courseList}">
                                <div class="rounded position-relative fruite-item">
                                    <a th:href="@{|/course/detail/${course.id}|}">
                                        <div class="fruite-img">
                                            <img th:src=@{|/img/forMainCourse/${@rq.getRandomImage()}|}
                                                 class="img-fluid w-100 rounded-top" alt="">
                                        </div>
                                    </a>
                                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                                         style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; top: 10px; left: 10px;"
                                         th:text="${course.gameCategoryname}">
                                    </div>
                                    <div class="p-4 border border-top-0 rounded-bottom">
                                        <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class="mb-3">
                                            <a th:href="@{|/course/detail/${course.id}|}"
                                               th:text="${course.name}"></a>
                                        </h4>
                                        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                           th:text="${course.introduce}"></p>
                                        <div th:if="${course.discountRate}==0" class="flex-lg-wrap">
                                            <p style="font-size:19px;" class=" fs-7 fw-bold mb-0"
                                               th:text="@{|${course.price} 포인트|}"></p>
                                        </div>
                                        <div th:if="${course.discountRate}!=0" class="flex-lg-wrap">
                                            <i style="color:red;" class="fa-solid fa-arrow-down"></i>
                                            <span style="font-size:19px; color:red;" class="fw-bold mb-0"
                                                  th:text="@{|${course.discountRate}%|}"></span>
                                            <span style="font-size:19px;" class="fw-bold mb-0"
                                                  th:text="@{|${course.price-course.price*course.discountRate/100} 포인트|}"></span>
                                            <span style="color:darkgray;" class="text-decoration-line-through fw-bold mb-0"
                                                  th:text="@{|${course.price}|}"></span>
                                        </div>
                                        <br>
                                        <a th:href="@{|/course/detail/${course.id}|}"
                                           class="btn border border-secondary rounded-pill px-3 text-primary"
                                           style="display:block;">상세
                                            보기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->

    <!-- Vesitable Shop Start-->
    <div class="container-fluid vesitable py-2">
        <div class="container">
            <h1 class="mb-0">추천 전문가</h1>
            <div class="owl-carousel vegetable-carousel justify-content-center">

                <div th:each="siteUserWithImg, loop : ${siteUserWithImgList}">
                    <a th:href="@{|/expert/detail/${siteUserWithImg.siteUser.username}|}" class="d-flex flex-column justify-content-between alin-items-between expert-card bg-white shadow border-0">

                        <div class="d-flex align-items-center">
                            <img th:src="${siteUserWithImg.img}" alt="..."
                                 style="width:70px; height:70px; border-radius: 50%;">
                            <div class="Nanum ms-2 fs-5" th:text="${siteUserWithImg.siteUser.nickname}"></div>
                        </div>

                        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" class=" Nanum mt-3 fs-6" th:if="${#lists.size(siteUserWithImg.expert.careerList) != 0}">
                            <i th:class="|fa-solid fa-${siteUserWithImg.expert.careerList[0].icon} m-2|"
                               th:if="${siteUserWithImg.expert.careerList[0].icon != 'youtube'}" th:style="|color: ${siteUserWithImg.expert.careerList[0].color};|"></i>
                            <i th:class="|fa-brands fa-${siteUserWithImg.expert.careerList[0].icon} m-2|"
                               th:if="${siteUserWithImg.expert.careerList[0].icon == 'youtube'}" th:style="|color: ${siteUserWithImg.expert.careerList[0].color};|"></i>
<!--                            <span>[[${#lists.size(siteUserWithImg.expert.careerList) != 0 ? siteUserWithImg.expert.careerList[0].category: null}]]</span>-->
                            <span>
                                    [[${#lists.size(siteUserWithImg.expert.careerList) != 0 ? siteUserWithImg.expert.careerList[0].content: null}]]
                                </span>
                        </div>
                        <div class="mt-3" th:unless="${#lists.size(siteUserWithImg.expert.careerList) != 0}">
                            아직 등록된 경력이 없어요
                        </div>
                        <div class="card bg-secondary bg-opacity-25 border-0 mt-3">
                            <div style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;" class="mx-3 my-3">
                                [[${siteUserWithImg.expert.introduce == null ? "아직 등록된 소개글이 없어요": siteUserWithImg.expert.introduce}]]
                            </div>
                        </div>
                        <div class="expert-content">
                        </div>
                    </a>
                </div>



            </div>
        </div>
        <script layout:fragment="script" type='text/javascript'>

            const btn_search = document.getElementById("btn_search");
            btn_search.addEventListener('click', function() {

                document.getElementById('category').value = document.getElementById('category_select').value;
                document.getElementById('kw').value = document.getElementById('search_kw').value;

                document.getElementById('searchForm').submit();
            });
        </script>
    </div>
</div>