<html layout:decorate="~{layout}">
<div layout:fragment="content" class="mb-3">

    <!-- Hero Start -->
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-4">게임 강의 플랫폼</h4>
                    <h1 class="mb-2 text-primary text-bold">모든 유저들을 위한</h1>
                    <h1 class="mb-4 text-primary">GamePT에 오신 것을 환영 합니다.</h1>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="/img/main-carousel-1.webp" class="img-fluid w-100 h-100 bg-secondary rounded"
                                     alt="First slide">
                                <a href="/course/list" class="btn px-4 py-2 text-white rounded">강의</a>
                            </div>
                            <div class="carousel-item rounded">
                                <img src="/img/main-carousel-2.webp" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                                <a href="/expert/users" class="btn px-4 py-2 text-white rounded">전문가</a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Fruits Shop Start-->
    <div class="container-fluid fruite pt-2 pb-5 ">
        <div class="container">
            <div class="tab-class text-center">
                <div class="row g-4">
                    <div class="col-lg-4 text-start">
                        <h1>신규 강의</h1>
                    </div>
                </div>
                <div class="tab-content mt-3">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-3" th:each="course : ${courseList}">
                                <a href="#" th:href="@{|/course/detail/${course.id}|}">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <img th:src=@{|/img/forMainCourse/${@rq.getRandomImage()}|} class="img-fluid w-100 rounded-top"
                                                 alt="">
                                        </div>
                                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                                             style="top: 10px; left: 10px;">[[${course.gameCategoryname}]]
                                        </div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>[[${course.name}]]</h4>
                                            <div class="mt-3" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">[[${course.introduce}]]</div>
                                            <div class="text-center mt-3">
                                                <p class="text-dark fs-5 fw-bold mb-0">[[${course.price}]] point</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fruits Shop End-->

    <!-- Vesitable Shop Start-->
    <div class="container-fluid vesitable py-2">
        <div class="container">
            <h1 class="mb-0">추천 전문가</h1>
            <div class="owl-carousel vegetable-carousel justify-content-center">


                <a href="#">
                    <div class="border border-primary rounded position-relative vesitable-item">
                        <div class="vesitable-img">
                            <img src="https://i.namu.wiki/i/30whaqjessttAI0WYfI4EUeLMpBsch-usaIxU4jd3GJlKj1WSMwTDR8CODkb7dGvhi4PNfYcawLB-scDXOl4QmsFMJpQMTtPhKXUy9DCBdg1_hgm38L9MbXVlRGqDi8KbOwkouNYVtX5NDvT9L3vbA.webp" class="img-fluid w-100 rounded-top" alt="">
                        </div>
                        <div class="text-white bg-primary px-3 py-1 rounded position-absolute"
                             style="top: 10px; right: 10px;">
                            대장 강사
                        </div>
                        <div class="p-4 rounded-bottom">
                            <h4>신광식</h4>
                            <div>
                                개발자 연구소장
                            </div>
                            <div>
                                넷카라쿠배당 드가자~
                            </div>
                        </div>
                    </div>
                </a>



            </div>
        </div>
    </div>
    <!-- Vesitable Shop End -->
</div>